:root {
    --color-100-primary: #559ed2;
    --color-white: #fff;
    --color-black: #000;
    --color-info: #dbedff;
    --color-error: #bf7392;
}

.button-small {
    border-radius: 4px;
    border-width: 1px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-size: small;
}

.apply-button {
    display: flex;
    justify-content: flex-end;
    border: 1px solid var(--color-100-primary);
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0 var(--color-black);
    background-color: var(--color-100-primary);
    color: var(--color-white);
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: small;
}

html, body {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(to right, #0d1722 160px, #e6eaf0 0);
}

.rich-list-row {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-white);
    border-radius: 3px;
    padding: 0 5px 0 5px;
    box-shadow: 1px 1px 3px 0 var(--color-black);
    justify-content: space-between;
    align-items: center;
}

.rich-list-row.rich-list-header {
    font-size: small;
    font-weight: bold;
    border-bottom: 1px solid var(--color-black);
    color: var(--color-100-primary);
    margin: 5px 0 0 0;
}

.rich-list-row > * {
    margin: 5px 0 5px 0;
    overflow-wrap: break-word;
}

.rich-list-row:first-child {
    border-top: 3px solid var(--color-black);
}

.rich-list-row:last-child {
    border-bottom: 3px solid var(--color-black);
}

